
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" />
</head>
<body>
    <form action="~/Home/ForgotPassword" method="post">

        <div class="w3l-loginblock signinform">
            <div class="logo">
                <a class="brand-logo" href="">Quên mật khẩu</a>
            </div>
            <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">

                    <div class="form-grid">
                        <div class="input-field">
                            <label> Email của bạn: </label>
                            <input style="width: 100%; padding: 12px; border-radius: 50px; border: 1px solid #ccc;" type="email" name="Email" id="text" placeholder="Nhập email của bạn" required="">
                        </div>
                        
                    </div>
                    
                    <a style="display: block; text-align: center; color: red;">@ViewBag.ThongBao</a>
                    <div style="height: 15px;">

                    </div>
                    <input style="margin-top: 15px; border-radius: 50px; border: 1px solid #ccc; font-size: 16px; padding: 10px; margin: auto; display: flex; justify-content: center; width: 50%; background-color: lightpink; color: #fff; font-weight: 800;" class="login" type="submit" value="Lấy lại mật khẩu" />

                </div>
                <div class="info-grids social-login-details align-self">
                    <p class="text-center mb-3">Hoặc đăng nhập với</p>
                    <div class="social-media">
                        <a href="#facebook" class="fb">
                            <span class="fa fa-facebook" aria-hidden="true"></span> Đăng nhập với FaceBook
                        </a>
                        <a href="#twitter" class="tw">
                            <span class="fa fa-google" aria-hidden="true"></span>
                            Đăng nhập với Google
                        </a>
                    </div>
                    <p class="text-center mt-4">
                        <a href="@Url.Action("Login","Home")">Đăng nhập</a>

                    </p>
                </div>
            </div>

        </div>
        <style>
            .login:hover {
                cursor: pointer;
                background-color: deeppink;
                transition: ease-in-out 0.3s;
            }

            .password .TenDN {
                width: 100%;
                padding: 12px;
                border-radius: 50px;
                border: 1px solid #ccc;
            }

            .input-field label {
                font-weight: 700;
                color: var(--heading-color);
                margin-bottom: 10px;
                display: block;
            }

                .input-field label::before {
                    display: inline-flex;
                    margin-right: 7px;
                    margin-left: 5px;
                    width: 8px;
                    height: 8px;
                    background-color: var(--primary-color);
                    content: "";
                    border-radius: 3px;
                }
        </style>
        <!-- fontawesome v5-->
        <script src="~/login/js/fontawesome.js"></script>
    </form>
</body>
</html>
